@model Web.Models.MarcasCarros

@{
    ViewBag.Title = "Fabrícante de carros ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "MarcasCarros";
}

<h2>Deletar marca</h2>

<h3>Você tem certreza que deseja excluir essa fabrícantes de carro?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-trash"></span> Excluir
            </button>
            <a href="/MarcasCarros/Index" class="btn btn-primary btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </a>
        </div>
    }
</div>
