@model Web.Models.MarcasCarros

@{
    ViewBag.Title = "Deletar marca de carro";
}

<h2>Deletar marca</h2>

<h3>Você tem certreza que deseja excluir essa marca de carro?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index", null, null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
