@model IEnumerable<Web.Models.MarcasCarros>

@{
    ViewBag.Title = "Fabrícantes de carros ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "MarcasCarros";
}

<h2>Fabrícantes de carros</h2>
<hr />
@using (Ajax.BeginForm("Index", "MarcasCarros", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divListaMarcasCarros" }))
{
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                @Html.Label("Pesquisar por Fabríante:")
                @Html.TextBox("Pesquisar")
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> Pesquisar
                </button>
            </div>
        </div>
    </div>
}
<p>
    <a href="/MarcasCarros/Create" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Nova fabricante</a>
</p>
@Html.Partial("_MarcasCarros", Model)
