@model IEnumerable<Web.Models.AspNetRoles>
<div id="divListaRoles">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Descrição")
            </th>
            <th>Ações</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="/AspNetRoles/Edit/@item.Id" class="btn btn-primary btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Editar
                    </a>
                    <a href="/AspNetRoles/Delete/@item.Id" class="btn btn-primary btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                        Excluir
                    </a>
                </td>
            </tr>
        }

    </table>
</div>