@model IEnumerable<Web.Models.AspNetRoles>

@{
    ViewBag.Title = "Perfis de  usuários";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "PerfilDeUsuario";
}

<h2>Perfils de  usuários</h2>
<hr />
@using (Ajax.BeginForm("Index", "AspNetRoles", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divListaRoles" }))
{
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                @Html.Label("Pesquisar por nome:")
                @Html.TextBox("Pesquisar")
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> Pesquisar
                </button>
            </div>
        </div>
    </div>
}
<p>
    <a href="/AspNetRoles/Create" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Novo perfil</a>
</p>
@Html.Partial("_AspNetRoles", Model)
