
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "HomeAdm";
}

    <h2>Entre Rodas Assistência Automotiva - Área administrativa</h2>

    <h4>Seja bem-vindo @Session["NomeUser"] à área administrativa da Entre Rodas Assistência Automotiva - uma mecânica de familia!</h4>