@model IEnumerable<Web.Models.Clientes>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "Clientes";
}
<h1 class="h2">Clientes</h1>
<hr />
@using (Ajax.BeginForm("Index", "Clientes", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divListaClientes" }))
{
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                @Html.Label("Pesquisar por nome:")
                @Html.TextBox("Pesquisar")
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> Pesquisar
                </button>
            </div>
        </div>
    </div>
}
<p>
    <a href="/Clientes/Create" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Novo cliente</a>
</p>
@Html.Partial("_Clientes", Model)
