@model IEnumerable<Web.Models.OrdensServicos>

@{
    ViewBag.Title = "Serviços";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.MenuAtual = "OrdensServicos";
}

<h1 class="h2">Serviços</h1>
<hr />
@using (Ajax.BeginForm("Index", "OrdensServicos", new AjaxOptions { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divListaClientes" }))
{
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                @Html.Label("Pesquisar por nome do cliente:")
                @Html.TextBox("Pesquisar")
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> Pesquisar
                </button>
            </div>
        </div>
    </div>
}
<p>
    <a href="/OrdensServicos/Create" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span>Nova ordem de serviço</a>
</p>
@Html.Partial("_OrdensServicos", Model)
